/*----GENERAL SELECTORS----*/

body {
    color: #dde9ec;
    background-color: #1f242d;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

a:link {
    color: #dde9ec;
}

a:visited {
    color: #dde9ec;
}

a:hover {
    color: #dde9ec;
}

a:active {
    color: #dde9ec;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ok;
    font-weight: bold;
    word-spacing: 15px;
}

p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 24px;
    padding-left: 10%;
    padding-right: 10%;
}

/*----CLASSES----*/

/* Navigation Bar */
.nav-link:link {
    color:#3a3c41;
    font-family: ok;
    padding: 1.5vh;
    padding-top: 20px;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    word-spacing: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.nav-link:hover {
    color: #282d36;
}

.nav-link:visited {
    color: #1f242d;
}

.nav-link:active {
    color: #282d36;
}

.logo-box {
    background-color: #dde9ec;
    width: 100%;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 20px solid #495663;
    border-bottom: 20px solid #495663;
    outline: 20px solid #313945;
}

.logo {
    display: block;
    margin: auto;
    display: inline-block;
    height: 50%;
    padding: 15px;
}

/* Portfolio Grid Container */
.portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    margin: 0 auto;
    gap: 20px;
}

/* Portfolio Grid Thumbnail Images */
.thumbnail {
    filter: grayscale(100%);
    transition: 0.5s;
    margin: 0;
    width: 100%;
    height: 100%;
}

.thumbnail:hover {
    filter: grayscale(0%);
}

/* Portfolio Grid Items */

#grid-item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0;
}

#grid-item-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#grid-item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

#four-oh-four-image {
    width: 25%;
}

.portfolio-image-page {
    width: 50vw
}

/* Body */
.wrapper {
    /* !!! IMPORTANT !!! */
    visibility: visible !important;
}

/*----IDS----*/

/*----FONTS----*/

/* Header font "ok" */
@font-face {
    font-family: ok;
    src: url(../../assets/fonts/ok.ttf);
}

/*----RWD----*/

#L {
    visibility: hidden;
}

/* Smaller Portfolio Page (Mobile) */
@media screen and (max-width: 481px) {
    * {
        visibility: hidden;
    }

    #L {
        visibility: visible;
    }
}


/*----OTHER----*/