/* GENERAL SELECTORS  */

body {
    color: #ffffff;
    background-color: #161616;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ok;
    font-weight: bold;
    word-spacing: 15px;
}

p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 24px;
    padding-left: 10%;
    padding-right: 10%;
}

/* CLASSES */

/* Navigation Bar */
.nav-link:link {
    color:#292929;
    font-family: ok;
    padding: 1.5vh;
    padding-top: 20px;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.nav-link:hover {
    color: #414141;
}

.logo-box {
    background-color: #ffffff;
    width: 100%;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 20px solid #1e1e1e;
    border-bottom: 20px solid #1e1e1e;
    outline: 20px solid #161616;
}

.logo {
    display: block;
    margin: auto;
    display: inline-block;
    height: 65%;
    padding-top: 15px;
}

/* Body */
.wrapper {
    visibility: visible;
}

/* IDS */

/* FONTS */

/* Header font "ok" */
@font-face {
    font-family: ok;
    src: url(../../assets/fonts/ok.ttf);
}

/* OTHER */