/*----GENERAL SELECTORS----*/

body {
    color: #dde9ec;
    background-color: #1f242d;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

/* a:link {
    color: #dde9ec;
}

a:visited {
    color: #dde9ec;
}

a:hover {
    color: #dde9ec;
}

a:active {
    color: #dde9ec;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: ok;
    font-weight: bold;
    word-spacing: 15px;
}

p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 24px;
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    padding: 20px;
    color: #495663;
}

footer > a {
    color: #495663;
}

/*----CLASSES AND IDS----*/

.logo-box {
    background-color: #dde9ec;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 20px solid #495663;
    border-bottom: 20px solid #495663;
    outline: 20px solid #313945;
}

.logo {
    display: block;
    margin: auto;
    display: inline-block;
    height: 80%;
    padding: 15px;
}

/* Portfolio Grid Container */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    width: 85%;
    margin: 0 auto;
    gap: 20px;
}

/* Portfolio Grid Thumbnails */
.thumbnail {
    filter: grayscale(100%) brightness(60%);
    transition: 0.5s;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.thumbnail:hover {
    filter: grayscale(0%) brightness(100%);
}

/* Portfolio Grid Items */

#piece-1 {
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 0;
}

#piece-2 {
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 7;
    grid-column-end: 23;
}

#piece-3 {
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 23;
    grid-column-end: 32;
}

#piece-4 {
    grid-row-start: 10;
    grid-row-end: 19;
    grid-column-start: 1;
    grid-column-end: 10;
}

/* Body */
.wrapper {
    /* !!! IMPORTANT !!! */
    visibility: visible !important;
}

/* Overlay Shenaniganery */
#overlay {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.piece-details {
    display: none;
    position: fixed;
    z-index: 3;
    text-align: left;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.piece-details > img {
    height: 70vh;
}

.piece-details > p {
    margin: 10px;
    padding: 0;
    padding-left: 7px;
}

#four-oh-four-image {
    width: 25%;
}

/*----FONTS----*/

/* Header font "ok" */
@font-face {
    font-family: ok;
    src: url(../../assets/fonts/ok.ttf);
}

/*----RWD----*/

.L {
    display: none
}

/* Smaller Portfolio Page (Mobile) */
@media screen and (max-width: 481px) {
    * {
        display: none
    }

    .L {
        display: block;
    }
}